<footer class="">
  <div class="content">
    <div class="container ">
      <div class="row text-center text-white gy-5">
        <div class="col-lg-4 col-md-6">
          <h2>LOCATION</h2>
          <h3 class="h5">2215 John Daniel Drive</h3>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <h2>AROUND THE WEB</h2>
        </div>
        <div class="col-lg-4 col-md-6">
          <h2>ABOUT FREELANCER</h2>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>


    <p class="text-center py-3 m-0 text-white copyright">Copyright © Your Website 2021</p>

</footer>
