/* You can add global styles to this file, and also import other style files */


:root
{
    --main-color:#1ABC9C;
    --second-color:#2C3E50;
}

.bg-main
{
    background-color: var(--main-color);

}